<input
  class="form-control"
  [(ngModel)]="FirstName"
  (input)="search()"
  placeholder="Search..."
/>

<table class="table table-hover">
  <thead>
    <tr>
      <th>FirstName</th>
      <th>SecondName</th>
      <th>Phone Number</th>
      <th>Region</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let pd of service.list
          | filter: FirstName
          | paginate: { itemsPerPage: 5, currentPage: p }
      "
    >
      <td (click)="populateForm(pd)">{{ pd.FirstName }}</td>
      <td (click)="populateForm(pd)">{{ pd.Secondname }}</td>
      <td (click)="populateForm(pd)">{{ pd.PhoneNumber }}</td>
      <td (click)="populateForm(pd)">{{ pd.Region }}</td>
      <td>
        <i
          class="fa fa-trash-alt fa-lg text-danger"
          (click)="onDelete(pd.Id)"
        ></i>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
